html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Zilla Slab", sans-serif;
    margin: 0;
}


/******* MOBILE FIRST (AND UNIVERSAL) *******/


/******* UTILITY CLASSES *******/

@media only screen and (max-width: 1024px) and (orientation:landscape) {

    .forbidding-overlay {
        background-color: rgba(0, 0, 0, .75);
        display: grid;
        place-items: center;
        position: absolute;
        height: 100vw;
        width: fit-content;
        height: 100%;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 100;
        overflow-x: hidden;
    }

    .forbidding-overlay p {
        background: white;
        padding: .5em 1em;
    }
}

.flex,
.flex-mobile {
    display: flex;
}

.flex-wrap-mobile {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.desktop,
a.desktop {
    display: none;
}

.copyright {
    font-size: 0.65em;
    text-align: center;
}

.facebook-link {
    height: 24px;
    width: 24px;
    margin: 1em;
}

.logo-container {
    text-align: center;
    margin: -15px 0 5px 0;
}

.error-404 {
    padding: 2em;
}

/******* NAVIGATION *******/

.main-navigation li {
    float: none;
}

.menu-primary-container {
    display: none;
}

.menu-primary-container.is-active {
    display: block;
    z-index: 100;
}

#primary-menu {
    z-index: 100;
}

#primary-menu li {
    background: white;
    display: none;
    margin: 0;
    padding: .75em 1em;
    width: 100vw;
}

.menu-primary-container.is-active #primary-menu li {
    background: white;
    display: block;
}

#primary-menu li a {
    color: #cc3366;
    text-decoration: none;
}

.site-header {
    background-color: #cc3366;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    pointer-events: inherit;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 100;
}

.site-branding {
    width: 100%;
    padding-left: 0;
    position: absolute;
    z-index: 100;
}

.site-branding a.mobile {
    position: absolute;
    top: 2.35em;
    left: 130px;
}

.site-info {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#site-navigation {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
}

.site-title {
    margin-left: .5em;
}

.site-title a {
    background: url(/static/img/pdart-logo-white.svg) center center no-repeat;
    display: inline-block;
    height: 85px;
    margin-top: 1em;
    width: 109px;
}

ul#menu {
    position: fixed;
    z-index: 100;
}

ul#menu li {
    list-style: none;
    float: left;
    display: inline-block;
    padding: .5em 1em;
}

/******* CONTENT *******/

html, body {
    overflow: hidden;
    height: 100%;
}

#container {
  overflow: hidden;
}

.max-width-container {
    max-width: 320px;
    margin: 0 auto;
}

.section {
    height: 100vh;
    width: 100vw;
    padding-top: 150px;
    position: absolute;
    transform: translateY(100%);
}

.section#contact {
    padding-top: 165px;
}

/******* INTRO *******/

#intro {
    background: #cc3366;
    margin-top: 50px;
    overflow:hidden ;
    padding-top: 0;
    position: fixed;
    transform: translateY(0);
    z-index: 5;
    height: -webkit-fill-available;
}

#intro .content {
    background-image: url(/static/img/pdart-home-bluebox-mobile.png);
    background-repeat: no-repeat;
    color: white;
    line-height: 1.2;
    padding-top: 1em;
    height: 100vh;
    background-position: left 0% bottom 50% !important;
    background-size: 130% 45%
}


#intro .content.mobile .intro-container {
    display: grid;
    font-size: .8em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr .3fr;
    grid-template-areas: "big-picture big-picture big-picture" "little-picture intro-introduction intro-introduction";
    grid-row-gap: 10px;
    line-height: 1.3;
}

.big-picture {
    grid-area: big-picture;
}

.little-picture {
    grid-area: little-picture;
}

.intro-introduction {
    grid-area: intro-introduction;
}

.example-house {
    margin: 0 .5em;
    /* text-align: center; */
}

/* margin good for desktop not mobile */
.intro-introduction p {
    width: 85%;
}

/******* HISTORY *******/

#history {
    background: url(/static/img/history_400.png) 0 20px repeat-x;
    background-size: 100%;
    z-index: 10;
}

#history .content {
    background: #ffcc33;
    height: inherit;
}

#history h2 {
    color: #cc3366;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    width: 90%;
}

#history p.history-introduction {
    color: #cc3366;
    font-size: .9em;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 23em;
    overflow: auto;
    border: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    background-color: rgb(254, 223, 138);
    padding: 15px;
}

.history-title-decoration {
    max-width: 150px;
    margin: 4px auto;
}

::-webkit-scrollbar {
    width: 14px;
    height: 10px;
} 

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 25px;
    background-color: white;
    -webkit-box-shadow: inset -8px -8px 0px rgba(0, 0, 0, 0), inset 8px 8px 0px rgba(0, 0, 0, 0);
}
/******* INSTRUCTIONS *******/

#instructions {
    background: url(/static/img/instructions_400.png) -26px 20px repeat-x;
    background-size: 100%;
    z-index: 20;
}

#instructions .instructions-header {
    text-align: center;
    width: 50%;
    margin: 28px auto 10px;
}

#instructions .content {
    background: #99cc66;
    height: inherit;
}

#instructions-mobile-slider {
    width: 76%;
}

.instruction-slide-content {
    background: white;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "instruction-number instruction-image""instruction-text instruction-text";
    padding: 1.2em;
}

.instruction-number {
    grid-area: instruction-number;
}

.instruction-image {
    grid-area: instruction-image;
}

.instruction-text {
    grid-area: instruction-text;
}

.instruction-number {
    color: lightgray;
    font-size: 7em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.instruction-text {
    font-size: 12px;
    font-weight: bold;
}

.ingredients {
    display: none;
    text-align: center;
}

.ingredients h3 {
    color: #cc3366;
}

/******* INSPIRATION *******/

#inspiration {
    background: url(/static/img/inspiration_400.png) 0 20px repeat-x;
    background-size: 100%;
    z-index: 30;
}

#inspiration .content {
    background: #6699cc;
    height: inherit;
}

#inspiration .inspiration-header {
    text-align: center;
    width: 50%;
    margin: 28px auto 30px;
}

#inspiration-mobile-slider {
    width: 290px
}

#inspiration-mobile-slider img {
    width: 275px
}

#inspiration-desktop-slider {
    width: 96%;
}

#inspiration-desktop-slider img {
    width: 275px;
}


/******* CONTACT *******/

#contact {
    background: url(/static/img/pdart-contact-bg4-EDIT.png) -15px 13px repeat-x;
    background-size: 143%;
    z-index: 40;
}

#contact .content {
    background: white;
    height:640px;
    overflow: hidden;
}

.contact-forms-container {
    position: relative;
    padding: 1px;
}

.tab-container {
    height: 1.75em;
}

.tab {
    background: #efefef;
    flex-basis: 50%;
    padding: .1em .5em;
    z-index: 1;
}

.tab.active {
    background: white;
    border: 1px solid gray;
    border-bottom: 1px solid white;
    z-index: 2;
}

.tab-content {
    background: #efefef;
    padding: 1em;
    position: absolute;
    left: 0;
    top: 2em;
    z-index: 1;
}

.tab-content.active {
    z-index: 2;
    background: white;
}

#contact #retailers {
    display: none;
}


/******* CONTENT ANIMATIONS *******/

@keyframes slideTop {
    0% {
        transform: translateY(100%);
        top: 100%;
    }

    100% {
        transform: translateY(0%);
        top: 20px;
    }
}

.slideToTop {
    animation: slideTop 1s ease forwards;
}

@keyframes slideBottom {
    0% {
        transform: translateY(0%);
        top: 20px;
    }

    100% {
        transform: translateY(100%);
        top: 100%;
    }
}

.slideToBottom {
    animation: slideBottom 1s ease forwards;
}


/******* DESKTOP STYLES *******/

/* MIN width will change, this is optimal for large screens not small labtops and ipads 1750 and up*/
@media only screen and (min-width: 1750px) {

    html,
    body {
        overflow: hidden;
        height: 100%;
    }

    /******* UTILITY STYLES *******/


    .max-width-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }

    /******* NAVIGATION *******/


    #primary-menu {
        margin-left: 0;
    }

    .menu-primary-container.is-active {
        position: inherit;
        top: 0;
    }

    #primary-menu li,
    .menu-primary-container.is-active #primary-menu li {
        background: transparent;
        display: inline-block;
        margin-right: 2em;
        width: auto;
    }

    #primary-menu li a {
        color: white;
    }

    .site-branding {
        padding-left: 0;
        position: relative;
        width: auto;
    }

    .site-header {
        justify-content: flex-start;
        padding-left: 1em;
    }

    #site-navigation {
        margin-right: 1em;
        position: relative;
    }

    .site-title {
        margin: 0 2em 0 0em;
    }


    /******* CONTENT *******/

    .section {
        height: 100vh;
        width: 100vw;
        padding-top: 240px;
        position: absolute;
        transform: translateY(100%);
    }

    .section#contact {
        padding-top: 265px;
    }

    #history {
        background: url(/static/img/history_400.png) 0px 20px repeat-x;
        background-size: 30%;
    }

    #instructions {
        background: url(/static/img/instructions_400.png) -37px 21px repeat-x;
        background-size: 30%;
    }

    #inspiration {
        background: url(/static/img/inspiration_400.png) -3px 28px repeat-x;
        background-size: 30%;
    }

    #contact {
        background: url(/static/img/pdart-contact-bg4-EDIT.png) 14px 25px repeat-x;
        background-size: 43%;
    }

    #intro .content.mobile,
    #history .content.mobile,
    #instructions .content.mobile,
    #inspiration .content.mobile,
    a.mobile {
        display: none;
    }

    a.desktop {
        display: block;
    }

    #intro .content {
        display: grid;
        place-items: center;
    }

    .intro-introduction p {
        width: 85%;
        margin: -50px 0px 10px -140px;
    }

    #history .content.desktop {
        background-color: #ffcc33;
        height: calc(100vh - 225px);
        display: grid;
        place-items: center;
    }

    #instructions .content.desktop {
        background-color: #99cc66;
        height: calc(100vh - 250px);
        display: grid;
        place-items: center;
    }

    #inspiration .content {
        background-color: #6699cc;
        height: calc(100vh - 260px);
        display: grid;
        place-items: center;
    }

    #contact .content.desktop {
        background-color: white;
        height: calc(100vh - 365px);
        display: grid;
        place-items: center;
    }

    /****** INTRO DESKTOP *******/

    #intro {
        padding-top: 0px;
    }

    #intro .content.desktop {
        background-image: url(/static/img/decoration-blue-quadrilateral.svg);
        background-position: left 0% bottom 30% !important;
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: left 0% bottom 30% !important;
        background-size: 135% 65%;
    }

    #intro .content.desktop .intro-container {
        display: grid;
        font-size: 1.2em;
        grid-template-columns: .55fr .45fr;
        grid-template-rows: 1fr .45fr;
        grid-template-areas:
            "house-picture packaging-picture" "house-picture intro-introduction";
        line-height: 1.5;
    }

    .house-picture {
        grid-area: house-picture;
    }

    .packaging-picture {
        grid-area: packaging-picture;
    }

    .intro-introduction {
        grid-area: intro-introduction;
    }

    .example-house img {
        width:65%;
        margin: 15px 0px -15px 0px;
    }

    .packaging img {
        width: 80%;
    }

    /****** HISTORY DESKTOP *******/

    #history h2 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        width: 38%;
    }

    .history-title-decoration {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    #history .history-container {
        display: grid;
        grid-template-columns: .7fr .9fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "history-header history-header""history-picture history-text";
        margin: 0 auto;
        max-width: 1600px;
    }

    .history-header {
        grid-area: history-header;
        margin: -65px 0px 1px 0px;
    }

    .history-picture {
        grid-area: history-picture;
    }

    .history-picture img {
        max-width: 90%;
        margin: -131px 0px 23px -155px
    }

    .history-text {
        grid-area: history-text;
        display: grid;
        place-items: center;
    }

    #history p.history-introduction {
        font-size: 1.2em;
        width: 80%;
        height: 15em;
        overflow: auto;
        margin-bottom: 5em;
        border: white;
        border-style: solid;
        border-width: 8px;
        padding: 35px;
        border-radius: 15px;
        background-color: rgb(254, 223, 138);
    }

        ::-webkit-scrollbar {
            width: 18px;
            height: 15px;
        }
        ::-webkit-scrollbar-thumb {
            height: 6px;
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            -webkit-border-radius: 25px;
            background-color: white;
            -webkit-box-shadow: inset -8px -8px 0px rgba(0, 0, 0, 0), inset 8px 8px 0px rgba(0, 0, 0, 0);
        }

    /****** INSTRUCTIONS DESKTOP *******/

    #instructions .instructions-header {
        text-align: center;
        width: 50%;
        margin: -25px auto 10px;
    }

    .instruction-slide-content {
        font-weight: 900;
        line-height: 1.5;
        grid-template-columns: .3fr .3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "instruction-number instruction-image instruction-text";
        grid-column-gap: 1em;
    }

    .instruction-image {
        grid-area: instruction-image;
    }

    .instruction-text {
        grid-area: instruction-text;
    }

    .instruction-number {
        grid-area: instruction-number;
    }

    .instruction div {
        padding: .25em;
        display: grid;
    }

    .instruction-text {
        font-size: 1.4em;
    }

    .ingredients {
        display: block;
    }
    /******* Inspiration *******/
    #inspiration .inspiration-header {
        text-align: center;
        width: 50%;
        margin: -29px auto 50px;
    }

    /****** CONTACT DESKTOP *******/

    .tab {
        display: none;
    }

    .tab-content {
        background-color: white;
        position: inherit;
    }

    .heading-image {
        margin-bottom: 1em;
    }
    #inspiration .heading-image {
        margin-top: -7em;
    }

    .contact-form {
        flex-basis: 40%;
        padding: 1em 2em;
    }

    #contact .content {
        background: white;
        height: inherit;
    }

    #contact #retailers {
        display: block;
    }

    .logo-container {
        text-align: center;
        margin: -45px 0 5px 0;
    }
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
    /* For portrait layouts only */

     body .hamburger {
        display: block;
    }

    .menu-primary-container {
        display: none;
    }

    #primary-menu li a {
        color: #cc3366;
        text-decoration: none;
        transition: text-decoration 0.5s ease;
    } 

    .max-width-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    /******* HOME PAGE ********/

    #intro .content.mobile .intro-container {
        background-position: left 0% bottom 30% !important;
        font-size: 1.3em;
        background-repeat: no-repeat;
        background-size: 95%;
        background-size: 125% 65%;
        display: grid;
        grid-template-columns: .55fr .45fr;
        /* grid-template-rows: 1fr .45fr;
        grid-template-areas:
            "house-picture packaging-picture""house-picture intro-introduction"; */
    }

    .example-house img {
        height: 350px;
        max-width: 350px !important;
        margin: -41px 0px -15px 0px;
    }


    .house-picture {
        grid-area: house-picture;
    }

    .packaging-picture {
        grid-area: packaging-picture;
    }

    .intro-introduction {
        grid-area: intro-introduction;
    }

    .packaging img {
        margin-left: 50%;
        position: relative;
        margin-top: 15px;
        max-width: 350px !important;
        width: 350px !important;
    }

    .section {
        padding-top: 120px;
    }

    .section#contact {
        padding-top: 150px;
    }

    /****** History *******/

    #history {
        background: url(/static/img/history_400.png) 0 23px repeat-x;
        background-size: 50%;
        z-index: 10;
    }  

    #history h2 {
       font-size: 1.5em; 
    }

    #history .content {
        /* height: calc(100vh - 175px); */
        margin-top: 7%;
    }

    /******* Instrucitons ********/

    #instructions {
        background: url(/static/img/instructions_400.png) -25px 23px repeat-x;
        background-size: 50%;
        z-index: 20;
    }

    #instructions .content {
        /* height: calc(100vh - 180px); */
        margin-top: 8%;
    }


    .instruction-slide-content {
        font-weight: 900;
        line-height: 1.5;
        /* grid-template-columns: .3fr .3fr 1fr; */
        grid-template-rows: 1fr;
        /* grid-template-areas: "instruction-number instruction-image instruction-text"; */
        grid-column-gap: 1em; 
    }

    /******* Inspiration *******/

    #inspiration {
        background: url(/static/img/inspiration_400.png) 0 23px repeat-x;
        background-size: 50%;
        z-index: 30;
    }

    #inspiration .content {
        /* height: calc(100vh - 185px); */
        margin-top: 8%;
    }

    /******* Contact *******/

    #contact {
        background: url(/static/img/pdart-contact-bg4-EDIT.png) -48px 24px repeat-x;
        background-size: 72%;
        z-index: 40;
    }

    #contact .content {
        background: white;
        height: inherit;
        margin-top: 7%;
    }


    .wpforms-title {
        display: block;
    }

    .logo-container {
        margin-top: 0em;
    } 
}

/******* HAMBURGER MENU STYLES *******/

@media only screen and (max-width:1024px) {

    .menu-primary-container {
        display: none;
    }

    #site-navigation {
        text-align: left;
    }
}

@media only screen and (min-width:1025px) {
    body .hamburger {
        display: none;
    }

    .menu-primary-container {
        display: block;
    }
}

/****** FORMS *******/

input {
    border: 1px solid #cc3366;
}

input[type=text],
input[type=email] {
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    display: block;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 16px;
    padding: 4px 6px;
    height: 32px;
    width: 100%;
    line-height: 1.3;
}

label {
    margin-bottom: 3px;
}

button[type="submit"] {
    background-color: #cc3366;
    border-radius: 4px;
    color: white;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: 5px 8px;
    text-transform: uppercase;
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1300px) {
    /* For portrait layouts only */

     body .hamburger {
        display: block;
    }

    .menu-primary-container {
        display: none;
    }

    #primary-menu li a {
        color:#cc3366;
        text-decoration: none;
        transition: text-decoration 0.5s ease;
    } 

    .max-width-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    /******* HOME PAGE ********/

    #intro .content.mobile .intro-container {
        background-position: left 0% bottom 30% !important;
        font-size: 1.5em;
        background-repeat: no-repeat;
        background-size: 95%;
        background-size: 125% 65%;
        display: grid;
        grid-template-columns: .55fr .45fr;
        /* grid-template-rows: 1fr .45fr;
        grid-template-areas:
            "house-picture packaging-picture""house-picture intro-introduction"; */
    }

    .big-picture {
        margin-top: 10%;
    }

    .intro-introduction p {
        width: 85%;
        margin-top: 12%;
    }

    .example-house img {
        height: 500px;
        max-width: 450px !important;
        margin: -66px 0px -15px 0px;
    }


    .house-picture {
        grid-area: house-picture;
    }

    .packaging-picture {
        grid-area: packaging-picture;
    }

    .intro-introduction {
        grid-area: intro-introduction;
    }

    .packaging img {
        margin-left: 50%;
        position: relative;
        margin-top: 0px;
        max-width: 450px !important;
        width: 450px !important;
        height: 350px;;
    }

    .section {
        padding-top: 120px;
    }

    .section#contact {
        padding-top: 150px;
    }

    /****** History *******/

    #history {
        background: url(/static/img/history_400.png) 0 23px repeat-x;
        background-size: 50%;
        z-index: 10;
    }  

    #history h2 {
       font-size: 2.5em; 
    }

    #history .content {
        /* height: calc(100vh - 175px); */
        margin-top: 7%;
    }

    #history p.history-introduction {
        color: #cc3366;
        font-size: .9em;
        line-height: 1.3;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 28em;
        overflow: auto;
        border: white;
        border-style: solid;
        border-width: 5px;
        border-radius: 15px;
        background-color: rgb(254, 223, 138);
        padding: 15px;
    }

    /******* Instrucitons ********/

    #instructions {
        background: url(/static/img/instructions_400.png) -25px 23px repeat-x;
        background-size: 50%;
        z-index: 20;
    }

    #instructions .content {
        /* height: calc(100vh - 180px); */
        margin-top: 10%;
    }

    #instructions .instructions-header {
        text-align: center;
        width: 80%;
        margin: 100px auto 10px;
    }

    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
        padding: .4em;
    }


    .instruction-slide-content {
        font-weight: 900;
        line-height: 1.5;
        grid-template-columns: .3fr .3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "instruction-number instruction-image instruction-text";
        grid-column-gap: 1em;
        display: grid;
        padding: 1.2em;
    }


    /******* Inspiration *******/

    #inspiration {
        background: url(/static/img/inspiration_400.png) 0 23px repeat-x;
        background-size: 50%;
        z-index: 30;
    }

    #inspiration .content {
        /* height: calc(100vh - 185px); */
        margin-top: 10%;
    }

    #inspiration-mobile-slider {
        width: 580px;
    }
    /******* Contact *******/

    #contact {
        background: url(/static/img/pdart-contact-bg4-EDIT.png) -84px 9px repeat-x;
        background-size: 72%;
        z-index: 40;
    }


    #contact .content {
        height: calc(100vh - 200px);
        margin-top: 9%;
    }

    .wpforms-title {
        display: block;
    }

    .logo-container {
        margin-top: -2em;
    } 
}

@media only screen and (min-width: 1301px) and (max-width: 1499px) {
    html,
    body {
        overflow: hidden;
        height: 100%;
    }

    /******* UTILITY STYLES *******/


    .max-width-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    /******* NAVIGATION *******/


    #primary-menu {
        margin-left: 0;
    }

    .menu-primary-container.is-active {
        position: inherit;
        top: 0;
    }

    #primary-menu li,
    .menu-primary-container.is-active #primary-menu li {
        background: transparent;
        display: inline-block;
        margin-right: 2em;
        width: auto;
    }

    #primary-menu li a {
        color: white;
    }

    .site-branding {
        padding-left: 0;
        position: relative;
        width: auto;
    }

    .site-header {
        justify-content: flex-start;
        padding-left: 1em;
    }

    #site-navigation {
        margin-right: 1em;
        position: relative;
    }

    .site-title {
        margin: 0 2em 0 0em;
    }


    /******* CONTENT *******/

    .section {
        height: 100vh;
        width: 100vw;
        padding-top: 240px;
        position: absolute;
        transform: translateY(100%);
    }

    .section#contact {
        padding-top: 244px;
    }

    #history {
        background: url(/static/img/history_400.png) 0px 77px repeat-x;
        background-size: 30%;
    }

    #instructions {
        background: url(/static/img/instructions_400.png) -29px 82px repeat-x;
        background-size: 30%;
    }

    #inspiration {
        background: url(/static/img/inspiration_400.png) -3px 83px repeat-x;
        background-size: 30%;
    }

    #contact {
        background: url(/static/img/pdart-contact-bg4-EDIT.png) 10px 84px repeat-x;
        background-size: 43%;
    }

    #intro .content.mobile,
    #history .content.mobile,
    #instructions .content.mobile,
    #inspiration .content.mobile,
    a.mobile {
        display: none;
    }

    a.desktop {
        display: block;
    }

    #intro .content {
        display: grid;
        place-items: center;
    }

    .intro-introduction p {
        width: 85%;
        margin: -50px 0px 10px -140px;
    }

    #history .content.desktop {
        background-color: #ffcc33;
        height: inherit;
        display: grid;
        place-items: center;
    }

    #instructions .content.desktop {
        background-color: #99cc66;
        height: calc(100vh - 250px);
        display: grid;
        place-items: center;
    }

    #inspiration .content {
        background-color: #6699cc;
        height: calc(100vh - 198px);
        display: grid;
        place-items: center;
    }

    #contact .content.desktop {
        background-color: white;
        height: calc(100vh - 365px);
        display: grid;
        place-items: center;
    }

    /****** INTRO DESKTOP *******/

    #intro {
        padding-top: 0px;
    }

    #intro .content.desktop {
        background-image: url(/static/img/decoration-blue-quadrilateral.svg);
        background-position: left 0% bottom 30% !important;
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: left 0% bottom 30% !important;
        background-size: 135% 65%;
    }

    #intro .content.desktop .intro-container {
        display: grid;
        font-size: 1.2em;
        grid-template-columns: .55fr .45fr;
        grid-template-rows: 1fr .45fr;
        grid-template-areas:
            "house-picture packaging-picture""house-picture intro-introduction";
        line-height: 1.5;
    }

    .house-picture {
        grid-area: house-picture;
    }

    .packaging-picture {
        grid-area: packaging-picture;
    }

    .intro-introduction {
        grid-area: intro-introduction;
    }

    .example-house img {
        width:65%;
        margin: 15px 0px -15px 0px;
    }

    .packaging img {
        width: 80%;
    }

    /****** HISTORY DESKTOP *******/

    #history h2 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        width: 38%;
    }

    .history-title-decoration {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    #history .history-container {
        display: grid;
        grid-template-columns: .7fr .9fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "history-header history-header" "history-picture history-text";
        margin: 0 auto;
        max-width: 1600px;
    }

    .history-header {
        grid-area: history-header;
        margin: -43px 0px 1px 0px;
    }

    .history-picture {
        grid-area: history-picture;
    }

    .history-picture img {
        max-width: 80%;
        margin: -110px 0px 2px 6px
    }

    .history-text {
        grid-area: history-text;
        display: grid;
        place-items: center;
    }

    #history p.history-introduction {
        font-size: 1.2em;
        width: 80%;
        height: 15em;
        overflow: auto;
        margin-bottom: 5em;
        border: white;
        border-style: solid;
        border-width: 8px;
        padding: 35px;
        border-radius: 15px;
        background-color: rgb(254, 223, 138);
        margin-bottom: 50%;
    }

        ::-webkit-scrollbar {
            width: 18px;
            height: 15px;
        }
        ::-webkit-scrollbar-thumb {
            height: 6px;
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            -webkit-border-radius: 25px;
            background-color: white;
            -webkit-box-shadow: inset -8px -8px 0px rgba(0, 0, 0, 0), inset 8px 8px 0px rgba(0, 0, 0, 0);
        }

    /****** INSTRUCTIONS DESKTOP *******/

    #instructions .instructions-header {
        text-align: center;
        width: 50%;
        margin: -25px auto 10px;
    }

    .instruction-slide-content {
        font-weight: 900;
        line-height: 1.5;
        grid-template-columns: .3fr .3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "instruction-number instruction-image instruction-text";
        grid-column-gap: 1em;
    }

    .instruction-image {
        grid-area: instruction-image;
    }

    .instruction-text {
        grid-area: instruction-text;
    }

    .instruction-number {
        grid-area: instruction-number;
    }

    .instruction div {
        padding: .25em;
        display: grid;
    }

    .instruction-text {
        font-size: 1.4em;
    }

    .ingredients {
        display: block;
    }
    /******* Inspiration *******/
    #inspiration .inspiration-header {
        text-align: center;
        width: 50%;
        margin: -29px auto 50px;
    }

    /****** CONTACT DESKTOP *******/

    .tab {
        display: none;
    }

    .tab-content {
        background-color: white;
        position: inherit;
    }

    .heading-image {
        margin-bottom: 1em;
        max-width: 70%; 
        margin-top: 1em;
    }
    #inspiration .heading-image {
        margin-top: -7em;
    }

    #contact .content {
        background: white;
        height: inherit;
        margin-top: 22px;
        overflow: hidden
    }

    .contact-form {
        flex-basis: 40%;
        padding: 1em 2em;
    }

    #contact #retailers {
        display: block;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1749px) {
    html,
    body {
        overflow: hidden;
        height: 100%;
    }

    /******* UTILITY STYLES *******/


    .max-width-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }

    /******* NAVIGATION *******/


    #primary-menu {
        margin-left: 0;
    }

    .menu-primary-container.is-active {
        position: inherit;
        top: 0;
    }

    #primary-menu li,
    .menu-primary-container.is-active #primary-menu li {
        background: transparent;
        display: inline-block;
        margin-right: 2em;
        width: auto;
    }

    #primary-menu li a {
        color: white;
    }

    .site-branding {
        padding-left: 0;
        position: relative;
        width: auto;
    }

    .site-header {
        justify-content: flex-start;
        padding-left: 1em;
    }

    #site-navigation {
        margin-right: 1em;
        position: relative;
    }

    .site-title {
        margin: 0 2em 0 0em;
    }


    /******* CONTENT *******/

    .section {
        height: 100vh;
        width: 100vw;
        padding-top: 240px;
        position: absolute;
        transform: translateY(100%);
    }

    .section#contact {
        padding-top: 265px;
    }

    #history {
        background: url(/static/img/history_400.png) 0px 77px repeat-x;
        background-size: 30%;
    }

    #instructions {
        background: url(/static/img/instructions_400.png) -29px 79px repeat-x;
        background-size: 30%;
    }

    #inspiration {
        background: url(/static/img/inspiration_400.png) -3px 85px repeat-x;
        background-size: 30%;
    }

    #contact {
        background: url(/static/img/pdart-contact-bg4-EDIT.png) 11px 83px repeat-x;
        background-size: 43%;
    }

    #intro .content.mobile,
    #history .content.mobile,
    #instructions .content.mobile,
    #inspiration .content.mobile,
    a.mobile {
        display: none;
    }

    a.desktop {
        display: block;
    }

    #intro .content {
        display: grid;
        place-items: center;
    }

    .intro-introduction p {
        width: 85%;
        margin: -50px 0px 10px -140px;
    }

    #history .content.desktop {
        background-color: #ffcc33;
        height: inherit;
        display: grid;
        place-items: center;
    }

    #instructions .content.desktop {
        background-color: #99cc66;
        height: calc(100vh - 250px);
        display: grid;
        place-items: center;
    }

    #inspiration .content {
        background-color: #6699cc;
        height: calc(100vh - 260px);
        display: grid;
        place-items: center;
        margin-top: 28px;
    }

    #contact .content.desktop {
        background-color: white;
        height: calc(100vh - 365px);
        display: grid;
        place-items: center;
    }

    /****** INTRO DESKTOP *******/

    #intro {
        padding-top: 0px;
    }

    #intro .content.desktop {
        background-image: url(static/uploads/decoration-blue-quadrilateral.svg);
        background-position: left 0% bottom 30% !important;
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: left 0% bottom 30% !important;
        background-size: 135% 65%;
    }

    #intro .content.desktop .intro-container {
        display: grid;
        font-size: 1.2em;
        grid-template-columns: .55fr .45fr;
        grid-template-rows: 1fr .45fr;
        grid-template-areas:
            "house-picture packaging-picture" "house-picture intro-introduction";
        line-height: 1.5;
    }

    .house-picture {
        grid-area: house-picture;
    }

    .packaging-picture {
        grid-area: packaging-picture;
    }

    .intro-introduction {
        grid-area: intro-introduction;
    }

    .example-house img {
        width:65%;
        margin: 15px 0px -15px 0px;
    }

    .packaging img {
        width: 80%;
    }

    /****** HISTORY DESKTOP *******/

    #history h2 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        width: 38%;
    }

    .history-title-decoration {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    #history .history-container {
        display: grid;
        grid-template-columns: .7fr .9fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "history-header history-header""history-picture history-text";
        margin: 0 auto;
        max-width: 1500px;
    }

    .history-header {
        grid-area: history-header;
        margin: -100px 0px 1px 0px;
    }

    .history-picture {
        grid-area: history-picture;
    }

    .history-picture img {
        max-width: 80%;
        margin: -150px 0px 23px -30px
    }

    .history-text {
        grid-area: history-text;
        display: grid;
        place-items: center;
    }

    #history p.history-introduction {
        font-size: 1.2em;
        width: 80%;
        height: 15em;
        overflow: auto;
        margin-bottom: 5em;
        border: white;
        border-style: solid;
        border-width: 8px;
        padding: 35px;
        border-radius: 15px;
        background-color: rgb(254, 223, 138);
        margin-bottom: 305px;
    }

        ::-webkit-scrollbar {
            width: 18px;
            height: 15px;
        }
        ::-webkit-scrollbar-thumb {
            height: 6px;
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            -webkit-border-radius: 25px;
            background-color: white;
            -webkit-box-shadow: inset -8px -8px 0px rgba(0, 0, 0, 0), inset 8px 8px 0px rgba(0, 0, 0, 0);
        }

    /****** INSTRUCTIONS DESKTOP *******/

    #instructions .instructions-header {
        text-align: center;
        width: 40%;
        margin: -7px auto 10px;
    }

    .instruction-slide-content {
        font-weight: 900;
        line-height: 1.5;
        grid-template-columns: .3fr .3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "instruction-number instruction-image instruction-text";
        grid-column-gap: 1em;
    }

    .instruction-image {
        grid-area: instruction-image;
    }

    .instruction-text {
        grid-area: instruction-text;
    }

    .instruction-number {
        grid-area: instruction-number;
    }

    .instruction div {
        padding: .25em;
        display: grid;
    }

    .instruction-text {
        font-size: 1.4em;
    }

    .ingredients {
        display: block;
    }
    /******* Inspiration *******/
    #inspiration .inspiration-header {
        text-align: center;
        width: 35%;
        margin: -29px auto 50px;
    }

    /****** CONTACT DESKTOP *******/

    .tab {
        display: none;
    }

    .tab-content {
        background-color: white;
        position: inherit;
    }

    .heading-image {
        margin-bottom: 1em;
    }
    #inspiration .heading-image {
        margin-top: -7em;
    }

    #contact .content {
        background: white;
        height: inherit;
        margin-top: 27px;
        overflow: hidden;
    }

    .contact-form {
        flex-basis: 40%;
        padding: 1em 2em;
    }

    #contact #retailers {
        display: block;
    }
}

@media only screen and (min-device-width: 310px) and (max-device-width: 390px) {

    html, body {
        overflow: hidden;
        height: 100%;
        width: -webkit-fill-available;
    }
    
    #container {
      overflow: hidden;
    }
    
    .max-width-container {
        max-width: 350px;
        margin: 0 auto;
    }
    
    .section {
        height: 100vh;
        width: 100vw;
        /* width: -webkit-fill-available; */
        padding-top: 150px;
        position: absolute;
        transform: translateY(100%);
    }
    
    .section#contact {
        padding-top: 165px;
    }
    
    /******* INTRO *******/
    
    #intro {
        background: #cc3366;
        margin-top: 50px;
        overflow:hidden ;
        padding-top: 0;
        position: fixed;
        transform: translateY(0);
        z-index: 5;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
    }
    
    #intro .content {
        background-image: url(/static/img/pdart-home-bluebox-mobile.png);
        background-repeat: no-repeat;
        color: white;
        line-height: 1.2;
        padding-top: 1em;
        height: 100vh;
        background-position: left 0% bottom 50% !important;
        background-size: 130% 45%
    }
    
    
    #intro .content.mobile .intro-container {
        display: grid;
        font-size: .8em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr .3fr;
        grid-template-areas: "big-picture big-picture big-picture" "little-picture intro-introduction intro-introduction";
        grid-row-gap: 10px;
        line-height: 1.3;
    }
    
    .big-picture {
        grid-area: big-picture;
    }
    
    .little-picture {
        grid-area: little-picture;
    }
    
    .intro-introduction {
        grid-area: intro-introduction;
    }
    
    .example-house {
        margin: 0 .5em;
        /* text-align: center; */
    }
    
    /* margin good for desktop not mobile */
    .intro-introduction p {
        width: 90%;
    }
    
    /******* HISTORY *******/
    
    #history {
        background: url(/static/img/history_400.png) 0 20px repeat-x;
        background-size: 100%;
        z-index: 10;
        width: 119%;
    }
    
    #history .content {
        background: #ffcc33;
        height: inherit;
        width: 100%;
    }
    
    #history h2 {
        color: #cc3366;
        font-size: 1.2em;
        font-style: italic;
        font-weight: 700;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        text-align: center;
        width: 90%;
    }
    
    #history p.history-introduction {
        color: #cc3366;
        font-size: .9em;
        line-height: 1.3;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 18em;
        overflow: auto;
        border: white;
        border-style: solid;
        border-width: 5px;
        border-radius: 15px;
        background-color: rgb(254, 223, 138);
        padding: 15px;
    }
    
    .history-title-decoration {
        max-width: 150px;
        margin: 4px auto;
    }
    
    ::-webkit-scrollbar {
        width: 14px;
        height: 10px;
    } 
    
    ::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        -webkit-border-radius: 25px;
        background-color: white;
        -webkit-box-shadow: inset -8px -8px 0px rgba(0, 0, 0, 0), inset 8px 8px 0px rgba(0, 0, 0, 0);
    }
    /******* INSTRUCTIONS *******/
    
    #instructions {
        background: url(/static/img/instructions_400.png) -27px 29px repeat-x;
        background-size: 100%;
        z-index: 20;
        width: 119%;
    }
    
    #instructions .instructions-header {
        text-align: center;
        width: 50%;
        margin: 28px auto 10px;
    }
    
    #instructions .content {
        background: #99cc66;
        height: inherit;
        margin-top: -15px;
        width: 100%;
    }
    
    #instructions-mobile-slider {
        width: 76%;
    }
    
    .instruction-slide-content {
        background: white;
        display: grid;
        grid-template-columns: 0.6fr 1.4fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "instruction-number instruction-image""instruction-text instruction-text";
        padding: 1.2em;
    }
    
    .instruction-number {
        grid-area: instruction-number;
    }
    
    .instruction-image {
        grid-area: instruction-image;
    }
    
    .instruction-text {
        grid-area: instruction-text;
    }
    
    .instruction-number {
        color: lightgray;
        font-size: 7em;
        font-style: italic;
        font-weight: 700;
        text-align: center;
    }
    
    .instruction-text {
        font-size: 12px;
        font-weight: bold;
    }
    
    .ingredients {
        display: none;
        text-align: center;
    }
    
    .ingredients h3 {
        color: #cc3366;
    }
    
    /******* INSPIRATION *******/
    
    #inspiration {
        background: url(/static/img/inspiration_400.png) -7px 37px repeat-x;
        background-size: 100%;
        z-index: 30;
        width: 119%;
    }
    
    #inspiration .content {
        background: #6699cc;
        height: inherit;
        width: 100%;
    }
    
    #inspiration .inspiration-header {
        text-align: center;
        width: 50%;
        margin: 28px auto 30px;
    }
    
    #inspiration-mobile-slider {
        width: 290px
    }
    
    #inspiration-mobile-slider img {
        width: 275px
    }
    
    #inspiration-desktop-slider {
        width: 96%;
    }
    
    #inspiration-desktop-slider img {
        width: 275px;
    }
    
    
    /******* CONTACT *******/
    
    #contact {
        background: url(/static/img/pdart-contact-bg4-EDIT.png) -19px 35px repeat-x;
        background-size: 143%;
        z-index: 40;
        width:119%
    }
    
    #contact .content {
        background: white;
        height:640px;
        overflow: hidden;
        width: 100%;
        margin-top: 13px;
    }
    
    .contact-forms-container {
        position: relative;
        padding: 1px;
    }
    
    .tab-container {
        height: 1.75em;
    }
    
    .tab {
        background: #efefef;
        flex-basis: 50%;
        padding: .1em .5em;
        z-index: 1;
    }
    
    .tab.active {
        background: white;
        border: 1px solid gray;
        border-bottom: 1px solid white;
        z-index: 2;
    }
    
    .tab-content {
        background: #efefef;
        padding: 1em;
        position: absolute;
        left: 0;
        top: 2em;
        z-index: 1;
    }
    
    .tab-content.active {
        z-index: 2;
        background: white;
    }
    
    #contact #retailers {
        display: none;
    }

}